bimodal_median_sims.csv
bimodal_ninty_sims.csv
bimodal_onset_sims.csv
bimodal_pearseoffset_sims.csv
bimodal_tenth_sims.csv
lists_ninty_median.csv
unimodal_median_sims.csv
unimodal_ninty_sims.csv
unimodal_offset_sims.csv
unimodal_onset_sims.csv
unimodal_tenth_sims.csv
lists_ninty_median_fixed.csv
bimodal_offset_sims.csv
