5cellswith10obs_2018.csv
lat_var_boxplot.png
monarch.png
obs10_by-cell-spp-year.csv
wrapped_dd.png
cellswith10obs_2017.csv
cellswith10obs_2018.csv
unique_cells_10obs.csv
wrapped_latvar.png
overlap.png
overlapping_cells.csv
spp_most_overlap.csv
inat_tidy.csv
comparable_cells.csv
test.csv
total_buts.csv
total_sims.csv
PollardGAMs_10ofpeak.csv
incidental-pollard_estimates.csv
simulation_results.pdf
simulation_results.pptx
weib10_estimates.csv
totalonset_sims.csv
lists_ninty_median.csv
totalmedian_sims.csv
totalninty_sims.csv
totaltenth_sims.csv
totaloffset_sims.csv
